@import "tailwindcss";

@theme {
  --color-dark: #28292c;
  --color-light: #fcfbfc;
  --color-gray: #a5a5a5;
  --color-secondary: #99e19c;
  --color-primary: #99e19c;
  --color-subtle: #49080b;

  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}

/* Root Variables */
:root {
  --font-family: "Poppins", Inter, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* Global Styles */
body {
  font-family: var(--font-family);
  background-color: var(--color-light);
  color: var(--color-dark);
}

a {
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
